.NewBill {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: auto;
    padding: 10px 0;
}

.NewBill h3 {
    /* width: 50%;
    padding: 10px;
    margin: 10px auto;
    align-items: center; */

    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: auto;
    padding: 10px 0;
}