.NewBill {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: auto;
    padding: 10px 0;
}

.NewBill h3 {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: auto;
    padding: 10px 0;
}

.ButtonDiv {
    width: 100%;
    margin-top: 45px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.ButtonDiv button {
    float: right;
}

@media (min-width: 500px) and (min-height: 400px) {
    .NewBill {
        width: 400px;
    }
}

@media (min-width: 500px) and (min-height: 401px) {
    .NewBill {
        width: 400px;
    }
}

@media (min-width: 1000px) and (min-height: 700px) {
    .NewBill {
        width: 400px;
    }
}